# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Android
android/app/build/
android/build/
android/.gradle
android/local.properties

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserdata

# Dependencies
node_modules/

# Metro
.metro-health-check*

# Env
.env
.env.local
